@import "../../font/icon/style.css";

@import "../../vendor/reset.css";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #d3d3d3;
}
body {
  font-family: 'Helvetica Neue';
  font-weight: 100;
}
a {
  color: #ff0000;
}
nav#main-nav {
  position: fixed;
  z-index: 150;
  top: 0;
  line-height: 48px;
  width: 100%;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-width: 0 0 1px;
  opacity: 1;
}
nav#main-nav span {
  display: inline-block;
  font-size: 32px;
  padding: 20px 0;
  text-decoration: none;
  color: white;
  font-weight: 200;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 5px rgba(0, 0, 0, 0.2);
}
nav#main-nav #logo {
  padding: 20px 0 20px 20px;
  text-decoration: none;
  color: white;
}
nav#main-nav #location {
  font-weight: 400;
}
#location #backgroundImage {
  position: fixed;
  z-index: 100;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#location #backgroundImage img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: auto;
  opacity: 0.8;
}
#location.typeSunny #locationBackground,
#location.typeSunny nav#main-nav_ {
  background-color: #F8C48B;
}
#location.typeMoon #locationBackground,
#location.typeMoon nav#main-nav_ {
  background-color: #000;
}
#location.typeRain #locationBackground,
#location.typeRain nav#main-nav_ {
  background-color: #81A8B8;
}
#location.typePartlycloudy #locationBackground,
#location.typePartlycloudy nav#main-nav_ {
  background-color: #C2CBCE;
}
#location #locationBackground {
  position: fixed;
  z-index: 50;
  top: 0;
  height: 100%;
  width: 100%;
}
#location #locationBackground img {
  width: 100%;
}
#location #ad {
  position: fixed;
  z-index: 100;
  right: 10px;
  top: 100px;
}
#location #locationWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 120;
  max-width: 100%;
  color: white;
  margin: 0 auto 0;
  padding: 0 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  /* Chrome,Safari4+ */
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 1px 10px rgba(0, 0, 0, 0.3);
}
#location #locationWrap h1 {
  font-size: 60px;
  display: none;
}
#location #locationWrap .dayCard {
  padding: 20px 0 0px;
  text-align: left;
  position: relative;
  z-index: 120;
}
#location #locationWrap .dayCard h2,
#location #locationWrap .dayCard h3,
#location #locationWrap .dayCard h4 {
  position: relative;
  z-index: 130;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 1px 10px rgba(0, 0, 0, 0.3);
}
#location #locationWrap .dayCard h2 {
  font-size: 110px;
  line-height: 110px;
  font-weight: 400;
  float: left;
  margin: 0 20px;
  vertical-align: top;
}
#location #locationWrap .dayCard h2 span {
  width: 50px;
  display: inline-block;
  position: relative;
  top: -18px;
  left: -30px;
}
#location #locationWrap .dayCard h3,
#location #locationWrap .dayCard h4 {
  font-size: 45px;
  line-height: 55px;
  margin: 0;
}
#location #locationWrap .dayCard h3 {
  font-weight: 200;
}
#location #locationWrap .dayCard .hourForeacast {
  width: 100%;
}
#location #locationWrap .dayCard .hourForeacast .dayChart {
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-width: 0 0 0 0;
  position: absolute;
  top: 140px;
  z-index: 10;
}
#location #locationWrap .dayCard .hourForeacast .detail {
  text-align: center;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-width: 0px 0 0px 0;
  margin: 10px auto 0;
  white-space: nowrap;
  position: relative;
  z-index: 80;
  zoom: 1;
}
#location #locationWrap .dayCard .hourForeacast .detail:before {
  content: '';
  display: block;
}
#location #locationWrap .dayCard .hourForeacast .detail:after {
  content: '';
  display: table;
  clear: both;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour {
  display: inline-block;
  border: 0px solid rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  font-size: 18px;
  line-height: 20px;
  width: 14.28%;
  float: left;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour:last-child {
  border-width: 0;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin {
  width: 120px;
  white-space: normal;
  color: black;
  text-shadow: none;
  position: relative;
  padding: 0 0 20px;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin:before {
  content: '';
  position: absolute;
  top: 50px;
  left: 60px;
  bottom: -54px;
  z-index: 0;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .icon,
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .time,
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .temp {
  position: relative;
  z-index: 10;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .icon {
  display: inline-block;
  font-size: 48px;
  line-height: 32px;
  margin: 5px 0 10px;
  background: white;
  border-radius: 180px;
  padding: 20px;
  color: gray;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .icon.clear {
  background: orange;
  color: white;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .icon.fewclouds {
  background: rgba(190, 190, 190, 0.5);
  color: white;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .icon.cloudy {
  background: rgba(110, 110, 110, 0.5);
  color: white;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .icon.brokenclouds {
  background: rgba(80, 80, 80, 0.5);
  color: white;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .icon.rain {
  background: #81A8B8;
  color: white;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .icon.moon {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .time,
#location #locationWrap .dayCard .hourForeacast .detail .hour .pin > .temp {
  display: inline-block;
  border-width: 0 0 1px 0;
  font-weight: 400;
  padding: 1px 3px;
  font-size: 18px;
  line-height: 20px;
  color: white;
  font-weight: 100;
}
#location #locationWrap #forecast {
  position: relative;
  z-index: 120;
  overflow: hidden;
  width: 100%;
  display: none;
}
#location #locationWrap #forecast h3 {
  margin: 40px 20px 20px;
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
  text-align: left;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 1px 10px rgba(0, 0, 0, 0.3);
}
#location #locationWrap #forecast .forecastChart {
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-width: 0px 0 1px 0;
  position: relative;
  z-index: 10;
}
#location #locationWrap #forecast .day {
  text-align: center;
  zoom: 1;
  display: block;
  border: 0px solid rgba(100, 100, 100, 0.5);
  border-width: 0px 0px 1px 0;
  background: white;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}
#location #locationWrap #forecast .day:before {
  content: '';
  display: block;
}
#location #locationWrap #forecast .day:after {
  content: '';
  display: table;
  clear: both;
}
#location #locationWrap #forecast .day:last-child {
  border-width: 0;
}
#location #locationWrap #forecast .day p {
  display: inline-block;
  float: left;
  line-height: 32px;
}
#location #locationWrap #forecast .day .icon {
  font-size: 34px;
  width: 15%;
}
#location #locationWrap #forecast .day .icon span {
  display: inline-block;
  height: 32px;
}
#location #locationWrap #forecast .day .time {
  width: 20%;
}
#location #locationWrap #forecast .day .temp {
  width: 20%;
}
#location #locationWrap #forecast .day .rain {
  width: 20%;
}
#location.local #locationBackground {
  background-image: url("http://farm9.staticflickr.com/8278/8710831494_63c5940287_o.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 1400px;
}
#location.local #locationWrap {
  overflow: hidden;
  /*&:before {
				content:'';
				display: block;
				position: absolute;
				z-index: 109;
				top:0;
				left:0;
				right:0;
				bottom:0;
				background-color:white;
				-webkit-filter: blur(5px);
			}*/

}
#location.local #locationWrap:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("http://farm9.staticflickr.com/8278/8710831494_63c5940287_o.jpg");
  background-position: center -120px;
  background-repeat: no-repeat;
  background-size: 1400px;
  -webkit-filter: blur(10px);
}
