#footer {
	position: fixed;
	top: 25px;
	z-index: 200;
	color: rgb(240,240,240);
	font-size: 12px;
	font-weight: 400;
	text-align: right;
	left: 6%;
	right: 20px;

	a {
		color:rgb(255,255,255);
		text-decoration: none;
		font-weight: 800;
	}
}