#location {
	#locationWrap {
		height: 100%;
		color:white;

		&.typeSunny {
			background:orange;
		}
		&.typeRain {
			background:blue;
		}
		&.typePartlycloudy {
			background:gray;
		}


		text-align: center;
		h1 {
			font-size: 60px;
		}

		#today {
			h2 {
				font-size: 120px;
				font-weight: 400;
			}
			h3 {
				font-size: 80px;
			}
		}
	}
}