@fewcloudsRgb : rgb(190,190,190);
@fewcloudsRgba : rgba(190,190,190,0.5);

@FewcloudsColor : white;

#location {

	#backgroundImage {
		position: fixed;
		z-index: 100; 
		top: -50%; 
		left: -50%; 
		width: 200%; 
		height: 200%;
 
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0; 
			bottom: 0; 
			margin: auto; 
			
			width: 50%;
			height:auto;
			//min-height: 50%;

			opacity: 0.8;

			//-webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
			//-webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0));
			//-webkit-filter: blur(2px);
		}
	}

	&.typeSunny {
		#backgroundImage, nav#main-nav_ {
			background-color:#F8C48B;
		}
		
	}
	&.typeMoon {
		#backgroundImage, nav#main-nav_ {
			background-color:#000;
		}
		
	}
	&.typeRain {
		#backgroundImage, nav#main-nav_ {
			//background-color:#81A8B8;
		}
	}

	&.typeFewclouds {
		#backgroundImage, nav#main-nav_ {
			background-color:@fewcloudsRgb;
			//background: red;
		}
	}

	&.typePartlycloudy, &.typeCloudy {
		#backgroundImage, nav#main-nav_ {
			background-color:#C2CBCE;
			//background: red;
		}
	}
	&.typeSnow {
		
	}

	#locationBackground {
		position: fixed;
		z-index: 50;
		top:0;
		height: 100%;
		width: 100%;
	}

	#ad {
		position: fixed;
		z-index: 100;
		right:10px;
		top:100px;
	}

	#locationWrap {
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		z-index: 120;
		//width:640px;
		max-width: 100%;
		color:white;

		margin:0 auto 0;
		padding:0 0;

		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */		
		//text-shadow: 0px 1px 2px rgba(0,0,0,0.7), 0px 1px 5px rgba(0,0,0,0.2);
		//text-shadow: 0px 1px 1px rgba(0,0,0,0.6), 0px 2px 10px rgba(255,255,255,0.4);

		text-shadow: 0px 1px 2px rgba(0,0,0,0.8), 0px 1px 10px rgba(0,0,0,0.3);

		//background: rgba(255,255,255,0);
		//border:1px solid red;
		//box-shadow: 0 0 130px 0 #000;

		h1 {
			font-size: 60px;
			display: none;
		}

		h2, h3, h4 {
			position: relative;
			z-index: 130;
			color:white;

			text-shadow: 0px 1px 2px rgba(0,0,0,0.8), 0px 1px 10px rgba(0,0,0,0.3);
		}

		h2 {
			font-size: 110px;
			line-height: 110px;
			font-weight: 400;
			float: left;
			margin:0 20px;
			vertical-align: top;

			span {
				width: 50px;
				display: inline-block;
				position: relative;
				top: -18px;
				left: -30px;
			}
		}
		h3, h4 {
			font-size: 45px;
			line-height: 55px;
			margin:0;
		}

		h3 {
			font-weight: 200;
		}

		.hourForeacast, .dayForecast {
			//overflow: scroll; 
			width: 100%;

			.hourChart {
				border: 0px solid rgba(255,255,255,0.5);
				border-width:0 0 0 0;
				position: absolute;
				top:140px;
				z-index: 10;
				//display: none;
			}
			
			.detail { 
				text-align: center;

				border: 0px solid rgba(255,255,255,0.5);
				border-width:0px 0 0px 0;
				margin: 10px auto 0;
				white-space: nowrap;

				position: relative;
				z-index: 80;

				.clearfix();

				.hour, .day {
					display: inline-block;
					border: 0px solid rgba(255,255,255,0.5);
					//border-width:0 1px 0 0;

					padding:10px 20px;
					font-size: 18px;
					line-height: 20px;
					
					width:14.28%;

					float:left;

					&:last-child {
						border-width:0;
					};

					&:first-child .icon {
						//border:3px solid white!important;
					}

					.pin {
						//border: 1px solid red;
						width:120px;
						white-space: normal;
						color:black;
						text-shadow:none;
						position: relative;
						padding:0 0 0;
						//background: white;

						&:before {
							content:'';
							//border-left:3px solid white;
							position: absolute;
							top:50px;
							left:60px;
							bottom:-54px;
							z-index: 0;
						}

						> .icon, > .time, > .temp {
							position: relative;
							z-index: 10;
						}

						>.icon {
							display: inline-block;
							font-size: 48px;
							line-height: 32px;
							margin:5px 0 10px;
							background: white;
							border-radius: 180px;
							padding:20px;
							color:gray;
							border:3px solid transparent;

							&.clear {
								background: orange;
								color:white;
							}

							&.fewclouds {
								background: @fewcloudsRgba;
								color:white;
							} 

							&.cloudy {
								background: rgba(110,110,110,0.5);
								color:white;
							}

							&.brokenclouds {
								background: rgba(80,80,80,0.5);
								color:white;
							}

							&.rain {
								background: #81A8B8;
								color:white;
							}

							&.moon {
								background: rgba(0,0,0,0.5);
								color: white;
							}
						}

						>.time, >.temp {
							display: inline-block;
							//border: 0px solid rgba(255,255,255,0.5);
							border-width:0 0 1px 0;
							font-weight: 400;
							//background: white;
							padding:1px 3px;
							font-size: 18px;
							line-height: 20px;
							color:white;
							font-weight: 100;
						}

						> .time {
							//margin:0 25px;
						}

						> .temp {
							//font-weight: 400;
						}

						> .rain {
							//display: none;
						}
					}
				}
			}
		}

		.dayForecast {

			.forecastChart {
				display: none;
			}
			.detail { 
				border-width:1px 0 0;

				.day { 
					width: 7.14%;
					.pin {
						width: 50px;
						.icon {
							font-size: 28px;
							padding:5px;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}