#location {

	#backgroundImage {
		position: fixed;
		z-index: 100; 
		top: -50%; 
		left: -50%; 
		width: 200%; 
		height: 200%;
 
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0; 
			bottom: 0; 
			margin: auto; 
			min-width: 50%;
			min-height: 50%;
			opacity: 0.5;
			//-webkit-filter: blur(2px);
		}
	}

	&.typeSunny {
		#locationBackground, nav#main-nav_ {
			background-color:#F8C48B;
		}
		
	}
	&.typeRain {
		#locationBackground, nav#main-nav_ {
			background-color:#81A8B8;
		}
	}
	&.typePartlycloudy {
		#locationBackground, nav#main-nav_ {
			background-color:#C2CBCE;
		}
	}
	&.typeSnow {
		
	}

	#locationBackground {
		position: fixed;
		z-index: 50;
		top:0;
		height: 100%;
		width: 100%;

		img {
			width:100%;
		}
	}

	#ad {
		position: fixed;
		z-index: 100;
		right:10px;
		top:100px;
	}

	#locationWrap {
		position: relative;
		z-index: 120;
		width:640px;
		max-width: 100%;
		color:white;

		margin:120px auto 100px;
		padding:0 0;

		//text-shadow: 0px 1px 2px rgba(0,0,0,0.7), 0px 1px 5px rgba(0,0,0,0.2);
		//text-shadow: 0px 1px 1px rgba(0,0,0,0.6), 0px 2px 10px rgba(255,255,255,0.4);

		//text-shadow: 0px 1px 2px rgba(0,0,0,0.8), 0px 1px 10px rgba(0,0,0,0.3);

		//background: rgba(255,255,255,0.1);
		//box-shadow: 0 2px 30px -5px #000;

		h1 {
			font-size: 60px;
			display: none;;
		}

		.dayCard {
			padding:0px 0 0px;
			text-align: left;
			position: relative;
			z-index: 120;

			h2, h3, h4 {
				position: relative;
				z-index: 130;
			}

			h2 {
				font-size: 130px;
				line-height: 130px;
				font-weight: 400;
				//float: left;
				margin:0 20px;
			}
			h3 {
				font-size: 60px;
				line-height: 80px;
				margin:0 0 0 20px;
			}

			h4 {
				font-size: 24px;
				line-height: 35px;
				margin:0 0 20px 20px;
				font-weight: 400;
			}

			.dayForeacast {
				//overflow: scroll;
				width: 100%;
				.dayChart {
					border: 0px solid rgba(255,255,255,0.5);
					border-width:1px 0 0 0;
					position: relative;
					//top:-65px;
					z-index: 10;
				}
				
				.detail { 
					text-align: center;

					border: 0px solid rgba(255,255,255,0.5);
					border-width:1px 0 0 0;
					margin: 0 auto;
					white-space: nowrap;


					.hour {
						display: inline-block;
						border: 0px solid rgba(255,255,255,0.5);
						border-width:0 1px 0 0;

						padding:10px 20px;
						font-size: 18px;
						line-height: 20px;
						
						&:last-child {
							border-width:0;
						};

						.icon {
							display: inline-block;
							font-size: 48px;
							line-height: 32px;
							margin:5px 0 15px;
						}

						.time {
							border: 0px solid rgba(255,255,255,0.5);
							border-width:0 0 1px 0;
							font-weight: 400;
						}

						.temp {
							font-weight: 400;
						}

						.rain {
							display: none;
						}
					}
				}
			}

		}

		#forecastV {
			position: relative;
			z-index: 120;
			text-align: center;

			h3 {
				margin:40px 20px 10px;
				font-size: 24px;
				line-height: 35px;
				text-align: left;
			}

			.forecastChart {
				border: 0px solid rgba(255,255,255,0.5);
				border-width:1px 0 0 0;
				position: relative;
				//top:-65px;
				z-index: 10;
			}

			.day {
				display: inline-block;
				border: 0px solid rgba(255,255,255,0.5);
				border-width:0 1px 0 0;

				padding:10px 20px;
				font-size: 18px;
				line-height: 20px;
				
				&:last-child {
					border-width:0;
				};

				.icon {
					display: inline-block;
					font-size: 32px;
					line-height: 32px;
					margin:5px 0 15px;
				}

				.time {
					border: 0px solid rgba(255,255,255,0.5);
					border-width:0 0 1px 0;
					font-weight: 400;
				}

				.temp {
					font-weight: 400;
				}

				.rain {
					display: none;
				}
			}
		}

		#forecast {
			position: relative;
			z-index: 120;
			overflow: hidden;
			width: 100%;

			h3 {
				margin:40px 20px 20px;
				font-size: 24px;
				line-height: 35px;
				font-weight: 400;
				text-align: left;
			}

			.forecastChart {
				border: 0px solid rgba(255,255,255,0.5);
				border-width:1px 0 0 0;
				position: relative;
				//top:-65px;
				z-index: 10;
			}

			.day {
				text-align: center;

				.clearfix();
				display: block;
				border: 0px solid rgba(255,255,255,0.5);
				border-width:1px 0px 0px 0;

				padding:10px 20px;
				font-size: 18px;
				line-height: 20px;
				font-weight: 400;
				
				&:last-child {
					//border-width:0;
				};

				&.active {
					background: rgba(255,255,255,0.1);
					//color:black;
				}

				p {
					display: inline-block;
					float:left;
					line-height: 32px;
				}

				.icon {
					span {
						display: inline-block;
						height: 32px;
					}
					font-size: 34px;
					width:15%;
				}

				.time {
					width:20%;
				}

				.temp {
					width:20%;
				}

				.rain {
					width:20%;
				}
			}
		}
	}

	&.local {
		#locationBackground {
			background-image: url("http://farm9.staticflickr.com/8278/8710831494_63c5940287_o.jpg");
			background-position: center top;
			background-repeat: no-repeat;
			background-size: 1400px;
		}
		
		#locationWrap {
			overflow: hidden;
			//text-shadow: 0px 1px 2px rgba(0,0,0,0.9), 0px 1px 10px rgba(255,255,255,1);

			&:after {
				content:'';
				display: block;
				position: absolute;
				z-index: 110;
				top:0;
				left:0;
				right:0;
				bottom:0;
				background-image: url("http://farm9.staticflickr.com/8278/8710831494_63c5940287_o.jpg");
				background-position: center -120px;
				background-repeat: no-repeat;
				background-size: 1400px;
				//background-color:rgba(255,255,255,0.8);
				-webkit-filter: blur(10px);
				//opacity: 0.8;
			}
			/*&:before {
				content:'';
				display: block;
				position: absolute;
				z-index: 109;
				top:0;
				left:0;
				right:0;
				bottom:0;
				background-color:white;
				-webkit-filter: blur(5px);
			}*/
		}
	}
}